<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{ page.name }} &mdash; Wiki</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}wiki/css/wiki_layout.css">
  </head>
  <body>
    <div id="body">
        <div id="header">
            <p class="header-menu">
            {% if user.is_authenticated %}
                <a href="{% url logout %}">Logout</a>
            {% else %}
                <a href="{% url login %}">Login</a>
            {% endif %}
            </p>
            {% block header %}{% endblock %}
        </div>
      <div id="content">{% block content %}{% endblock %}</div>
      <p class="footer"><a href="{% url wiki.views.index %}">List all pages</a> | {% block footer %}{% endblock %}Powered by <a href="http://code.google.com/p/django-wiki/">Wiki</a></p>
    </div>
  </body>
</html>
