body {
  font: 16px/1.5 'Palatino', serif;
  background-color: white;
  color: #333;
}

p, img, ol, ul, h1, h2, h3, h4, h5, h6 {
  margin-bottom:24px;
}

.document {
  width:600px;
  margin:0 auto;
  margin-top:48px;
  margin-bottom:24px;
}

h1 {
  font-size: 2em;
  line-height: 0.75em;
  border-bottom:3px solid #CAD6ED;
  padding-bottom:4px;
  margin-bottom:17px;
}
h2 {
  font-size: 1.5em;
  line-height: 1em;
}
h3 {
  font-size: 1.25em;
  line-height: 1.2em;
}
h4 {
  font-size: 1.125em;
  line-height: 1.333em;
}
h5, h6 {
  font-size: 1em;
  line-height: 1.5em;
}
ul { list-style: disc; }

/* Center text */
.center {
  text-align: center;
}

img.caution {
  float:left;
  padding:16px;
}
p.caution {
  font-weight:bold;
}
.warning {
  background:#EBA4A4;
  border:2px solid #ED5151;
  padding:8px;
}
.bold {
  font-weight:bold;
}
.ok { background:#C4FFC9; border:2px solid #73FF7E; padding:8px; }

.social { margin:0 5px; }

p.blackout {
    background: #333;
    border: 8px solid #555;
    color: #efefef;
    padding:8px;
    font:15px/1.4 sans-serif;
}

p.blackout a { color: #ccc; }
p.blackout a:hover { color: #69f; }
