{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<h1>About Us</h1>

<p>
Honest Appalachia is designed to help whistleblowers anonymously leak documents to
journalists and the public. The website hopes to serve a vital need in Appalachia,
by inspiring whistleblowers to make critical information available to an informed citizenry.
</p>

<p>
In addition, Honest Appalachia hopes to serve as a replicable model for similar
projects elsewhere in the United States and around the world. We are willing to
offer our assistance to those working on similar projects. We believe that our
model can change the way government and industry operate. We believe our model
will help in the perennial effort to keep our politicians, our government agencies
and our corporations honest.
</p>

<p>
Honest Appalachia was developed by a group of freelance journalists, transparency
activists and computer programmers from Appalachia and beyond. It seeks to adhere
to a strict journalistic ethic, maintaining objectivity and nonpartisanship in its
activities.
</p>

<p>
The project is funded by a grant from the Sunlight Foundation, a government transparency
watchdog based in Washington D.C, as well as by private donations.
</p>

<p>
For general inquiries: <a href="mailto:honestappalachia@gmail.com">honestappalachia@gmail.com</a>
</p>

<p>
For those who wish to discuss our submission protocol or other sensitive information: <a href="mailto:honestappalachia@riseup.net">honestappalachia@riseup.net</a>
</p>

{% endblock %}
