{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<h1>Contact Us</h1>

<h2>Email</h2>
<p>
For general inquiries: <a href="mailto:honestappalachia@gmail.com">honestappalachia@gmail.com</a>
</p>

<p>
For those who wish to discuss our submission protocol or other sensitive information: <a href="mailto:honestappalachia@riseup.net">honestappalachia@riseup.net</a>
</p>

<h2>PO Box</h2>
<p>
If you wish to communicate with us, we strongly encourage you to contact us by email for the quickest response.
This PO box address is intended for document submissions through the mail.

Honest Appalachia
P.O. Box 11776
Charleston, WV 25339
</p>

{% endblock %}
