{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
<link rel=stylesheet type=text/css href="{{ STATIC_URL }}css/home.css">
{% endblock %}

{% block content %}
<p class="center warning">This site is under development. We are launching soon.</p>

<h1 class="header">Honest Appalachia</h1>

<img class="logo" src="{{ STATIC_URL }}img/logo.png" />

<div class="nav">
  <ol>
    <li><a href="/about-us">About Us</a></li>
    <li><a href="https://blog.honestappalachia.org">Blog</a></li>
    <li><a href="/upload">Upload</a></li>
    <li><a href="https://docs.honestappalachia.org">Help</a></li>
    <li><a href="/donate">Donate</a></li>
  </ol>
</div>

<p class="center">
  Interested in uploading? <a href="https://docs.honestappalachia.org/submission.html">Read this first.</a><br>
  Questions? <a href="/contact">Contact Us</a>
</p>
{% endblock %}
